<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ('head.ejs') %>
	</head>
	<body>
		<header></header>
		<footer>
			<p>&copy; 2024 My Movie Lists</p>
		</footer>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	</body>
</html>
